# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: VUB Resto API
  description: VUB Resto
  version: "1.0"
# the domain of the service
host: api.uber.com
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
  /restos/{resto-id}/menus/{menu-id}:
    put:
      summary: Create new menu or update existing
      description: Creates or updates a single menu
    parameters:
      - name: resto-id
        in: path
        description: Resto to request menu from
        required: true
        type: string
        format: string
      - name: menu-id
        in: path
        description: Specific menu
        required: true
        type: string
        format: string
  /restos/{resto-id}/menus/{menu-id}:
    get:
      summary: Day Menu
      description: |
        Returns a single day menu containing multiple dishes.
      parameters:
        - name: resto-id
          in: path
          description: Resto to request menu from
          required: true
          type: string
          format: string
        - name: menu-id
          in: path
          description: Specific menu
          required: true
          type: string
          format: string
        - name: Accepts-Language
          in: header
          description: Requests content in specific language
          required: false
          type: string
          format: string
      tags:
        - Menus
      responses:
        200:
          description: A single day menu
          schema:
            $ref: '#/definitions/Menu'
          headers:
            Content-Language:
              description: Natural language the menu is written in
              type: string
        404:
          description: Resto or Menu not found
          schema:
            $ref: '#/definitions/Error'

      

definitions:
  Menu:
    properties:
      date:
        type: string
        format: date
        description: Relevant date for the menu
      dishes:
        type: array
        items:
          $ref: '#/definitions/Dish'
  Dish:
    properties:
      name:
        type: string
        description: Name of the dish.
      category:
        type: string
        description: Category of the dish.
  Error:
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
