.modal-dialog
  .modal-content
    .modal-header
      if menu.get('date')
        h4= 'Menu for ' + resto.get('name') + ' (' + menu.formatDate() + ')'
      else
        h4= 'New Menu'
    .modal-body
      #menu-form
        .form-group
          label.hidden-xs(for="menu-date") Date
          // type date doesn't work with chrome..
          input#menu-date.form-control.date-picker(type="text")
          span.add-on
            i.icon-th



    .modal-footer
      button.btn.btn-default(data-dismiss="modal") Never mind
      button#save-menu.btn.btn-primary Save
