.modal-dialog
  .modal-content
    .modal-header
      if menu.get('date')
        h4= 'Menu for ' + resto.get('name') + ' (' + menu.formatDate() + ')'
      else
        h4= 'New Menu'
    .modal-body
      #menu-form



    .modal-footer
      button.btn.btn-default(data-dismiss="modal") Never mind
      button#save-menu.btn.btn-primary Save
